main.full-article {
    img {
        width: 100%;
        max-height: 500px;
        object-fit: cover;
    }

    button {
        margin-top: 20px;
        color: $color-primary;
        font-weight: 700;

        @media screen and (min-width: $bp-tablet) {
            margin-top: 40px;
        }

        @media screen and (min-width: $bp-laptop) {
            margin-top: 60px;
        }
    }
}